.home

  .gal_two
    %a{ href: "http://departmentofeagles.org/tag/maschietto-editore/" }
      %img{ src: "/img/uninsp_arch_cover.jpg" }
  .clear
  %a.block{ href: "http://departmentofeagles.org/tag/maschietto-editore/" } Uninspired Architecture (photo book)

  .gal_two
    %img{ src: "/img/webgood.jpg" }
  .clear
  %a.block{ href: "http://punctumbooks.com/titles/pedagogies-of-disaster/" } more info

  .gal
    %img{ src: "/img/tirana3.jpg" }


  :textile
    h3. Uninspired Architecture ( 2013 - 2014 )
  %a{ href: "http://departmentofeagles.org/2013/artist-in-residence-marco-mazzi/" } more info


  %img.home{ src: "/img/biennale13.jpg" }
  %a.block{ href: "http://venicebiennale2013.ideologicalguide.com" }
    'The Venice Biennale Ideological Guide', project by Jonas Staal

  .gal_two
    %img{ src: "/img/pedagogies/01.jpg" }
    %img{ src: "/img/pedagogies/02.jpg" }
    %img{ src: "/img/pedagogies/03.jpg" }
    %img{ src: "/img/pedagogies/04.jpg" }
    %img{ src: "/img/pedagogies/05.jpg" }
    %img{ src: "/img/pedagogies/06.jpg" }
    %img{ src: "/img/pedagogies/09.jpg" }
    %img{ src: "/img/pedagogies/10.jpg" }

    %img.home{ src: "/img/pedagogies.jpg" }

  %a.block{ href: "http://continentconference.wordpress.com" }
    PEDAGOGIES OF DISASTER /// A CONTINENT. CONFERENCE

  :textile
    h3. Odaiba (2013)

  .gal
    %img{ src: "/img/odaiba_home/1.jpg" }
    %img{ src: "/img/odaiba_home/2.jpg" }
    %img{ src: "/img/odaiba_home/3.jpg" }
    %img{ src: "/img/odaiba_home/4.jpg" }

  :textile
    The Odaiba set of photographs opts for a constructivist view of social processes and models. It analyses the regression of the cultural memory and historical contingency of a place, dwelling on the crisis, which is facing the sharing and communication of knowledge in post-modern times. The images show a car park, a botanical garden, a shopping centre, the Toyota dealership and the beach of Odaiba. Natural and artificial elements are part of a social mechanism that encourages the aesthetic experience, provided that the latter is able to provide specific tools of analysis aimed at understanding the means of economic participation of the individual in existence.

    Odaiba is a large man-made island in Tokyo Bay. Odaiba was originally formed by a set of six fortresses, built in 1853 by the Tokugawa shogunate to protect the city of Tokyo against a possible attack from the sea. Over decades Odaiba has undergone a radical transformation. From its beginnings as a military site, it became a symbol of ultramodern life and an example of a late-capitalist urban area, especially as from the late Nineties. This set of photographs attempts to document the mechanisms that govern internally the construction of a new type of urban fabric, mainly commercial, global and consumeristic, which does not presuppose historical awareness as a dialectical structure of a culture.

  %img.syntax{ src: "/img/relational_syntax_cover.jpg" }

  %iframe.video.vimeo{ src: "http://player.vimeo.com/video/57379880?color=ffffff" }
  %iframe.video.vimeo{ src: "http://player.vimeo.com/video/57379881?color=ffffff" }

  :textile
    The book Relational Syntax is structured around a question: does a suitable aesthetics exist today for an art that could call itself “political”? The authors tackle the issue by surmising that the various mediums (linguistic, film, textual and video) allow for a theory of knowledge and analysis of ideas to be drawn up, which does not belong to the representation of an individual subjectivity, but to the community. Hence the interest in archive resources and in an aesthetic conscience that lets artists analyze and reconstruct a critical representation of the reality in which the forms recover their power to alienate, creating new margins of opposition and deduction.