.home
  %a{ href: "/works" }
    %img{ src: "/img/relational_syntax_cover.jpg" }

  %img.home{ src: "/img/home1.jpg" }
  .caption
    Diego Cossentino, Marco Mazzi,
    %em Records of Experience,
    2011 (HD video, 31.40 min)
  %img.home{ src: "/img/home2.jpg" }
  .caption
    Diego Cossentino, Marco Mazzi,
    %em Records of Experience,
    2011 (HD video, 31.40 min)

  %iframe.video.vimeo.big{ src: "http://player.vimeo.com/video/34290717?color=ffffff" }

  %img.home{ src: "/img/home3.jpg" }
  .caption
    Marco Mazzi,
    %em Untitled,
    2013
  %img.home{ src: "/img/home4.jpg" }
  .caption
    Marco Mazzi,
    %em Untitled,
    2013


  %iframe.video.vimeo{ src: "http://player.vimeo.com/video/57379880?color=ffffff" }
  %iframe.video.vimeo{ src: "http://player.vimeo.com/video/57379881?color=ffffff" }
