%html
  %head
    %title Marco Mazzi
    %link{ rel: "stylesheet", href: "/css/main.css" }

    %meta{:content => "V07ABDj4FE0DEHJXqI7Su1aE0PcMvRUcZ3YGFzV-H1g", :name => "google-site-verification"}/
  %body
    #container
      %header
        %h1
          / Marco Mazzi
          %img{ src: "/img/marco_mazzi_logo.gif"}
      %nav
        - nav_link_to "home",     "/"
        - nav_link_to "news",     "/news"
        - nav_link_to "bio",      "/bio"
        - nav_link_to "contacts", "/contacts"

      %section.content{ class: subpath }= yield

    %script{ type: "text/javascript", src: "/js/app.js" }
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-10682634-14']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
