* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

img {
  border: 0; }

a {
  text-decoration: none; }

html, body {
  margin: 0;
  padding: 0; }

.clear {
  clear: both; }

a {
  color: black; }

a:hover {
  color: #555555; }

body {
  background: white;
  font-family: Verdana, Arial, Helvetica, sans-serif; }

#container {
  width: 96%;
  margin: 5px auto 50px;
  max-width: 1100px; }

h1 {
  font-size: 0.8em;
  text-transform: uppercase;
  width: 50%; }

nav {
  text-transform: uppercase;
  width: 50%;
  font-size: 0.7em;
  margin: 1px 0 10px;
  float: right;
  text-align: right; }
  nav a {
    margin: 0 0 0 -8px;
    padding: 0 0 0 8px; }
    nav a:hover {
      color: #999999; }
  nav a.current:hover {
    font-style: normal;
    color: black; }

p {
  margin: 0 0 1em 0; }

.content {
  float: left;
  width: 100%;
  font-size: 0.8em;
  margin: 0 0 60px 0; }

.home img {
  width: 50%; }

.work h1 {
  font-weight: bold;
  font-size: 1em; }
.work .text {
  text-align: justify;
  margin: 0 0 30px 0; }
.work img {
  width: 100%; }
.work .imgbox {
  font-size: 0.85em;
  text-align: right;
  margin: 0 0 20px 0;
  display: block;
  width: auto;
  float: left; }
.work .imgbox.vertical {
  width: 50%; }
.work .imgbox.full {
  width: 100%; }

.work.relational_syntax .text {
  float: left;
  width: 50%; }
.work.relational_syntax img.cover {
  float: left;
  padding: 0 2% 0 0%;
  width: 50%; }

.bio .year {
  font-style: oblique; }

.news {
  font-size: 0.9em;
  margin: 0 0 5px 0; }
  .news .title {
    text-transform: uppercase; }
  .news p {
    margin: 5px 0 7px 0; }
  .news .text {
    margin: 0 0 25px 0; }

p.small {
  font-size: 0.7em;
  float: right; }

.works a {
  font-weight: bold;
  display: block;
  margin: 5px 0 8px; }

form input, form textarea {
  font-size: 1em;
  padding: 2px 5px;
  display: block;
  margin: 0 0 20px 0;
  font-family: Georgia, "Times New Roman", Times, serif; }
form input {
  width: 50%; }
form textarea {
  width: 70%;
  height: 140px;
  padding: 5px 5px; }
form input[type='submit'] {
  width: 100px;
  float: right;
  margin-right: 35%; }

iframe.video {
  width: 41%;
  height: 300px;
  display: block;
  margin: 0 0 40px 0; }

.caption {
  margin: 0 0 40px 0;
  text-align: right; }

img.home {
  width: 100%;
  margin: 40px 0 0; }
