img {
  border: 0; }

a {
  text-decoration: none; }

body {
  margin: 0;
  padding: 0; }

a {
  color: black; }

body {
  background: white;
  font-family: Verdana, Arial, Helvetica, sans-serif; }

#container {
  width: 96%;
  margin: 5px auto 50px; }

h1 {
  font-size: 0.8em;
  text-transform: uppercase;
  width: 50%; }

nav {
  text-transform: uppercase;
  width: 50%;
  font-size: 0.7em;
  margin: 1px 0 10px;
  float: right; }
  nav a {
    margin: 0 0 0 -8px;
    padding: 0 0 0 8px; }
    nav a:hover {
      color: #999999; }
  nav a.current:hover {
    font-style: normal;
    color: black; }

.content {
  float: left;
  width: 100%;
  font-size: 0.8em;
  margin: 0 0 60px 0; }

.home img, .works img {
  width: 100%;
  margin: 0 0 20px 0; }

.bio .year {
  font-style: oblique; }

.news {
  font-size: 0.9em;
  margin: 0 0 5px 0; }
  .news .title {
    text-transform: uppercase; }
  .news p {
    margin: 5px 0 7px 0; }
  .news .text {
    margin: 0 0 25px 0; }

p.small {
  font-size: 0.7em;
  float: right; }

form input, form textarea {
  font-size: 1em;
  padding: 2px 5px;
  display: block;
  margin: 0 0 20px 0;
  font-family: Georgia, "Times New Roman", Times, serif; }
form input {
  width: 50%; }
form textarea {
  width: 70%;
  height: 140px;
  padding: 5px 5px; }
form input[type='submit'] {
  width: 100px;
  float: right;
  margin-right: 35%; }
